@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

div{

    margin:50px 0px 70px 0px;
}
.table-content{
    border-collapse: collapse;
    
    font-size: 0.9em;
    font-family: Quicksand, sans-serif;
    min-width: 400px;
}

.table-content thead tr {
    background-color: #c838ec;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.table-content th,
.table-content td {
    padding: 12px 15px;
}

.table-content tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table-content tbody tr:nth-of-type(even) {
    background-color: #e6c8e7;
}

.table-content tbody tr:last-of-type
{
    border-bottom: 2px solid #c838ec;
}